{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
Tervetuloa sovellukseen!


<p>Olet sivuston {{ counter }}. käyttäjä</p>



{% if session.username %}
	<p>Olet kirjautunut nimellä {{ session.username }}</p>
	<a href="/logout">Kirjaudu ulos</a>
{% else %}

<form action="/login" method="POST">
	<p>Tunnus:<br>
	<input type="text" name="username"></p>
	<p>Salasana:<br>
	<input type="password" name="password"></p>
	<input type="submit" value="Kirjaudu">
</form>

<br>

<a href="/create_user">Luo uusi käyttäjä</a>
{% endif %}
<br>
<br>
{% if error %}
<p">{{ error }}</p>
<br>
{% endif %}
{% endblock %}