<h1>Tervetuloa!</h1>
<p>Olet sivuston {{ counter }}. käyttäjä</p>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<br>
{% if error %}
<p">{{ error }}</p>
<br>
{% endif %}
<a href="/create_user">Luo uusi käyttäjä</a>
{% endif %}