{% extends "layout.html" %}
{% block title %}Uusi kortti - MTG-Pakkakirjasto{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
		<form action="/create_new_card" method="POST" enctype="multipart/form-data">
			<p>Kortin nimi:<br>
			<input type="text" name="card_name" class="form-control" value="{{ request.form.get('card_name', '') }}"></p>
			<p>Kortin teksti:<br>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="card_text">{{ request.form.get('card_text', '') }}</textarea>
			<p>Kortin kuva: 
			<input type="file" name="file" class="form-control-file"></p>
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
			<button type="submit" class="btn btn-primary">Lähetä</button>
		</form>

		
		{% if errors %}
		{% for error in errors %}
		<div class="alert alert-danger" role="alert" style="margin-top: 20px;">
		  {{ error }}
		</div>
		{% endfor %}
		{% endif %}
</div>
</div>
</div>
{% endblock %}